<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--Web API使用的端口-->
    <add key="WebAPIPort" value="4432"/>
    <!-- MongoDB连接字符串 -->
    <add key="MongoDBConn" value="mongodb://192.168.1.2:27017" />
    <!-- MongoDB使用的数据库名字 -->
    <add key="MongoDBName" value="test"/>
    <!-- 3DES加密KEY -->
    <add key="DES3KEY" value="LXSDJUNi"/>
  </appSettings>
</configuration>